

@font-face {
    font-family: Gilroy;
    src: url("../HBOMax-Redesign/fonts/Gilroy-Light.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url("../HBOMax-Redesign/fonts/Gilroy-ExtraBold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Universal settings */
:root {
    --color-primary: #0d6efd !important;
    --color-secondary: #6c757d !important;
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

html * {
    font-family: Gilroy;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(88,34,180,1) 70%, rgba(153,30,235,1) 100%);
}

.btn-outline-light {
    border: 3px solid;
}

/* end Universal settings */

/* Static Landing Page */
body.Static
{
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../images/STATIC_NOISE_400.gif);
  /* position: absolute;
  z-index: -100;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: url(../images/tvnoise.jpeg);
  animation: animate .5s steps(10) infinite;
  -webkit-animation: animate .5s steps(10) infinite; */
}
/* @keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 100% 100%;
    }
} */

.landing {
    z-index: 100;
    position: relative;
}

/*end Static Landing Page */


/* Universal Options Page settings */
badge.bg-secondary.Options {
    padding: 0.25em;
    font-weight: bold;
    color: white;
    background-color: rgba(87, 87, 87, .27) !important;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

#wrapper {
    overflow-x: hidden;
}
  
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background: transparent !important;
}
  
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-item.list-group-item-action.list-group-item-light.p-3 {
    background: transparent;
    color: #E5E5E5 !important;
}
  
#page-content-wrapper {
    min-width: 98vw;
    margin-top: 2em;
    margin-bottom: 2em;
}
  
body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

.btnContainer {
    display: flex;
}

.btnOptions {
    width: 50%;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

.btnOptions:hover {
    font-weight: bold;
}

.optionsModal {
    text-align: center;
    font-size: larger;
    width: 80vw;
    padding-left: 5em;
    padding-right: 5em;
    background: rgb(0,0,0);
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(88,34,180,1) 70%, rgba(153,30,235,1) 100%);
    color: white;
    border: none !important;
}

.sidebar-heading.border-bottom.bg-dark
{
    background-color: transparent !important;
    color: white;
}

.activeOpts {
    font-weight: bold;
}

.optHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

/* end Universal Options Page settings */

/* Profile Pic Page Settings */
.card.noBorder {
    border: none !important;
    margin-top: 1em;
    margin-bottom: 1em;
    background: transparent !important;
}

a.picSelect {
    color: #991EEB;
    background-color: rgba(33, 37, 41, .5);
}

img.profilePic {
    border-radius: 50%;
    border: 2px solid #E5E5E5;
}

img.profilePic:hover {
    border: 5px solid #D99BFF;
}

img.profilePic:focus {
    border: 5px solid #D99BFF;
}

/* end Profile Pic Page Settings */

/* Caption Settings Page Settings */
.captionSettings{
    margin-bottom: 2em !important;
    font-size: large;
}

.h-100 {
    color: white;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    background-color: rgba(87, 87, 87, .27);
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.textLarge {
    text-align: right;
    font-size: xx-large;
}

.Solid {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    background: black;
    width: max-content;
    height: max-content;
    display: inline;
    margin-right: 0.25em;
}
.Translucent {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: max-content;
    height: max-content;
    display: inline;
    margin-right: 0.25em;
}
.Transparent {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    background: transparent;
    border: 2px solid black;
    width: max-content;
    height: max-content;
    display: inline;
    margin-right: 0.25em;
}
/* end Caption Settings Page Settings */

/* Media queries for Profile Pics */
@media (min-width: 1000px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
      margin-left: -15rem;
    }

}
/* end Media queries for Profile pics */
    
@media  (min-width: 360px) {
    .optionsModal {
        width: 96vw;
        padding-left: 2em;
        padding-right: 2em;
    }
    
}

/* end Media queries for Profile pics */

/* Collections Page */
/* Top Navbar*/
.topNav{
    background: none !important;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    color: whitesmoke !important;
    font-weight: bolder;
}
/* End Top Navbar */

/* Movies Navbar */
.movieNav{
    background: none !important;
}
/* End Movies Navbar */

/* Page Header */
.collectionsHeader{
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
}
/* End Page Header */
/* End Collections Page */